<!DOCTYPE html>
<html>


<!-- Style  -->

<head>
    <style>

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/indexpage.css') }}">
    <title>Albums</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img class="card-img-top" src="{{url_for('static', filename='images/gingkologo.png')}}" alt="Card image cap"
                , style="width:62px;height:51px;">
            <a class="navbar-brand" href="{{url_for('albums', message=user_email) }}">Tree-search</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('albums', message=user_email) }}">Albums </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('createalbum', message=user_email) }}"
                            style="font-weight:bold;">Create Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('browseusers', message=user_email) }}">Browse Users</a>
                    </li>


                </ul>

                <form class="form-inline d-flex" style="display:flex"
                    action="{{url_for('otheralbums', message=user_email) }}" method="POST">
                    <input class="form-control me-2" id="other_email" name="other_email" type="text"
                        placeholder="Search Users" aria-label="Search">
                    <button style="margin-right:15px" class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    {# Album Entry Card #}
    <section class="bg-light pt-5 pb-5 shadow-sm">
        <button type="button" onclick="helpButton()"
            style="float:right; margin-right: 15px; background-color:rgb(70, 142, 66)"
            class="btn btn-secondary mt-auto align-self-end" id="help_button">Help</button>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="trial">
                        <div>
                            <h2 class="text-lowercase">{{user_email}}</h2>
                        </div>
                    </div>
                    <h4 class="border-bottom mb-4">Create Album</h4>
                </div>
            </div>
            <form id="newalb" action="{{url_for('createalbum', message=user_email) }}" method="post"
                enctype="multipart/form-data">
                <div class="mb-3 d-flex align-items-stretch">
                    <div class="card" style="margin:auto">
                        <div class="row">
                            <div class="file_input_wrap">
                                <br>
                                <div class="input-group mb-3">
                                    <img src="{{url_for('static', filename='images/uploadlogo.png')}}"
                                        alt="Card image cap" , style="width:75px;height:95px;margin:auto"
                                        id="uploadButton">
                                    <a class="stretched-link"
                                        href="javascript:document.getElementById('imageAlbumUpload').click(); "></a>
                                    <input type="file" name="imageAlbumUpload" id="imageAlbumUpload" class="hide" />
                                    <input type="text" name="imageAlbumMetaData" id="imageAlbumMetaData" class="hide" />
                                </div>
                            </div>
                            <div class="img_preview_wrap">
                                <img src="" id="imageAlbumPreview" alt="Preview Image" style="height:275px;object-fit:cover;
                            object-position: 50% 50%;" class="hide card-img-top" />

                                <script>$('#imageAlbumUpload').change(function () {
                                        readImgUrlAndPreview(this);
                                        function readImgUrlAndPreview(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function (e) {
                                                    $('#imageAlbumPreview').removeClass('hide').attr('src', e.target.result);
                                                    reader.onload = function (arrayBufferEvent) {
                                                        console.log("herehere")
                                                        const dataView = new DataView(arrayBufferEvent.target.result);

                                                        function somefunc(dataView) {
                                                            let metastring = "";

                                                            console.log("dataview", dataView);
                                                            for (let i = 0; i < 1000; i++) {
                                                                charcode = dataView.getUint8(i);
                                                                if (charcode >= 32 && charcode <= 126)
                                                                    metastring += String.fromCharCode(charcode);
                                                            }
                                                            console.log(metastring);
                                                            const year = dataView.getUint32(238);
                                                            $('#imageAlbumMetaData').val(metastring);
                                                        };
                                                        somefunc(dataView)
                                                    };
                                                    reader.readAsArrayBuffer(input.files[0]); // Needed for date
                                                };
                                                reader.readAsDataURL(input.files[0]); // Needed for the image preview
                                            }
                                        }
                                    });</script>
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 for="albumname" class="card-title">Album Name:</h5><br>
                            <input type="text" id="albumname" name="albumname"><br>
                            <h5 class="card-title">Album Description:</h5><br>
                            <input type="hidden" id="albumcontents-input" name="albumcontents-input">
                            <span id="albumcontents" class="expandableinput" contenteditable="true" style="display: inline-block;
             border: solid 1px black; object-fit:cover">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="bucketforentries" id="bucketforentries">


                    <script>$(document).ready(function () {
                            $(document).on("submit", "form#newalb", function (e) {
                                e.preventDefault();
                                var contents = $("#albumcontents").html();
                                console.log(contents)
                                $('input#albumcontents-input').val(contents);
                                const h4Elements = document.querySelectorAll('.journaltitle');
                                hcount = 0
                                h4Elements.forEach(element => {
                                    $('input#journal-name-input' + hcount).val(element.textContent);
                                    hcount++;
                                });
                                pcount = 0
                                const pElements = document.querySelectorAll('.journalcontent');
                                pElements.forEach(element => {
                                    $('input#journal-content-input' + pcount).val(element.textContent);
                                    pcount++;
                                });
                                this.submit();
                            });
                        });
                    </script>
                </div>



                <button type="button" id="addInput">Add Journal Entry</button>
                <input type="submit" id="your-form-submit" style="display: none;">



            </form>

            <br>
            <br>
            <br>

            <label for="your-form-submit" role="button" class="btn btn-primary" tabindex="0">
                Create my album!
            </label>

            <script>
                let inputCount = -1;

                $('#addInput').click(function () {
                    inputCount++;
                    //Build
                    const divCard = $('<div>', { class: "card flex-row", id: "enhance" });
                    const divWrap = $('<div>', { class: "file_input_wrap" });
                    const breaker = $('<br>');
                    const divInputGroup = $('<div>', { class: "input-group mb-3" });
                    const uploadLogo = $('<img>', {
                        src: "{{url_for('static', filename='images/uploadlogo.png')}}", alt: "Card image cap",
                        style: "width:75px;height:95px;margin:auto", id: "uploadButton"
                    });
                    const anchorid = "javascript:document.getElementById('" + 'imageUpload' + inputCount + "').click();";
                    const anchor = $('<a>', { id: "linker" + inputCount, class: "stretched-link", href: anchorid });
                    const inputfile = $('<input>', { type: "file", name: "imageUpload" + inputCount, id: "imageUpload" + inputCount, class: "hide imageUpload" });

                    const divPreviewWrap = $('<div>', { class: "img_preview_wrap" });
                    const imagePreview = $('<img>', { src: "", id: "imagePreview" + inputCount, alt: "Preview Image", style: "height:275px;object-fit:cover;object-position: 50% 50%;", class: "hide card-img-top imagePreview" });
                    const divCardBody = $('<div>', { class: "card-body" });
                    const inputJournalTitle = $('<input>', { type: "hidden", name: "journal-name-input" + inputCount, id: "journal-name-input" + inputCount });
                    const inputJournalContent = $('<input>', { type: "hidden", name: "journal-content-input" + inputCount, id: "journal-content-input" + inputCount });
                    const inputMetaData = $('<input>', { class: "hide", type: "text hidden", name: "journal-image-metadata" + inputCount, id: "journal-image-metadata" + inputCount });
                    const JournalName = $('<h4>', { id: "journal-name" + inputCount, class: "card-title h5 h4-sm journaltitle", contenteditable: "True" });
                    const JournalContent = $('<p>', { id: "journal-content" + inputCount, class: "card-text journalcontent", contenteditable: "True" });
                    const closeButtonContent = $('<button>', { id: "close" + inputCount, class: "btn-close removeInput" });

                    //Place
                    $('.bucketforentries').append(divCard);
                    divCard.append(divWrap);
                    divWrap.append(breaker);
                    divWrap.append(divInputGroup);
                    divInputGroup.append(uploadLogo);
                    divInputGroup.append(anchor);
                    divInputGroup.append(inputfile);
                    divCard.append(divPreviewWrap);
                    divPreviewWrap.append(imagePreview);
                    divCard.append(divCardBody);
                    divCardBody.append(inputJournalTitle);
                    divCardBody.append(inputJournalContent);
                    divCardBody.append(inputMetaData);
                    divCardBody.append(JournalName);
                    divCardBody.append(JournalContent);
                    divCard.append(closeButtonContent);
                    document.getElementById("journal-content" + inputCount).innerHTML = "Add your journal content here";
                    document.getElementById("journal-name" + inputCount).innerHTML = "Write your journal entry name here";
                    const myid = '#imagePreview' + inputCount.toString()
                    const otherid = "#journal-image-metadata" + inputCount.toString()
                    document.getElementById("imageUpload" + inputCount).addEventListener('change', function () {
                        var elementId = $(this).attr('id');
                        var nextpreviewId = $(this).next('.imagePreview')
                        console.log(elementId);
                        console.log(nextpreviewId);
                        readImgUrlAndPreview(this);

                        function readImgUrlAndPreview(input) {

                            if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $(myid).removeClass('hide').attr('src', e.target.result);
                                    reader.onload = function (arrayBufferEvent) {
                                        console.log("herehere")
                                        const dataView = new DataView(arrayBufferEvent.target.result);

                                        function somefunc2(dataView) {
                                            let metastring = "";

                                            console.log("dataview", dataView);
                                            for (let i = 0; i < 1000; i++) {
                                                charcode = dataView.getUint8(i);
                                                if (charcode >= 32 && charcode <= 126)
                                                    metastring += String.fromCharCode(charcode);
                                            }
                                            console.log("metastringtest", metastring);
                                            const year = dataView.getUint32(238);
                                            $(otherid).val(metastring);
                                        };
                                        somefunc2(dataView)
                                    };
                                    reader.readAsArrayBuffer(input.files[0]); // Needed for date
                                };
                                reader.readAsDataURL(input.files[0]); // Needed for the image preview
                            }


                            //if (input.files && input.files[0]) {
                            //    var reader = new FileReader();
                            //   reader.onload = function (e) {

                            //      $(myid).removeClass('hide').attr('src', e.target.result);
                            //   }
                            //};
                            //reader.readAsDataURL(input.files[0]);
                        }
                    });
                    document.getElementById("close" + inputCount).addEventListener('click', function () {
                        var elementId = $(this).attr('id');
                        parentDiv = this.parentNode.remove()

                    });


                });

            </script>




            <script>function helpButton() {
                    swal({
                        title: "How To:",
                        text: "The intention of this page is to create an album for a particular tree and keep track of it's progression with continuing journal entries.\n\nCreate a new album:\n\tSelect your new album's name, description and cover photo\n\nCreate a new journal entry:\n\tSelect your entries new image and add your image comments\n\nYou can add as many journal entries as you'd like within your album. Don't worry, you can always add more to it later too!\n\nOnce you are done, don't forget to save your changes so you can enjoy your album!"
                    });
                }</script>


            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
                integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
                crossorigin="anonymous"></script>
            <script src="{{url_for('static', filename='js/script.js' )}}"></script>
            <script src="https://cdn.jsdelivr.net/npm/exif-js@2.3.0/exif.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.js"></script>


</body>

</html>