<!DOCTYPE html>
<html>

<!-- Style  -->

<head>
    <style>
        body {
            background-color: #cccccc;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        h1 {
            color: white;
            background-color: rgb(0, 0, 0);
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        p {
            color: black;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        form {
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/indexpage.css') }}">
    <title>Albums</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="card-img-top" src="{{url_for('static', filename='images/gingkologo.png')}}" alt="Card image cap" ,
            style="width:62px;height:51px;">
        <a class="navbar-brand" href="#">Tree-search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Index <span class="sr-only">(Current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/toolowners">Tool Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tools">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manufacturingprocedures">Procedures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calibrationrecords">Calibration Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/procedureuselogs">Logs</a>
                </li>
            </ul>
        </div>
    </nav>


    <h1>Albums</h1>


    <!-- show all album cards-->



    <!-- pull images from cloud storage-->
    <!-- pull images locally-->
    <br>
    <div class="centered">
        <section class="cards">

            <div></div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height:300px;object-fit:cover;
                object-position: 25% 25%; " src="https://storage.googleapis.com/treephotos/little_tree"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shishigashira</h5>
                    <p class="card-text">Acquired Summer 2022</p>
                    <a href="#" class="btn btn-primary">Button Alternative to hover</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height:300px;object-fit:cover;
                object-position: 25% 25%; " src="{{url_for('static', filename='images/shishi.jpg')}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shishigashira</h5>
                    <p class="card-text">Acquired Summer 2022</p>
                    <a href="#" class="btn btn-primary">Button Alternative to hover</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='images/shishi.jpg')}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shishigashira</h5>
                    <p class="card-text">Acquired Summer 2022</p>
                    <a href="#" class="btn btn-primary">Button Alternative to hover</a>
                </div>
            </div>
            <div></div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='images/shishi.jpg')}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Shishigashira</h5>
                    <p class="card-text">Acquired Summer 2022</p>
                    <a href="#" class="btn btn-primary">Button Alternative to hover</a>
                </div>
            </div>
        </section>
    </div>


    <!-- <div class="container">
        <div id="closeablecard" class="card card-hover-shadow mt-4">
            <div class="card-header bg-transparent border-bottom-0">
                <button data-dismiss="alert" data-target="#closeablecard" type="button" class="close"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body mt-n5">
                <h5 class="card-title">Your Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem recusandae voluptate porro
                    suscipit numquam distinctio ut. Qui vitae, ut non inventore necessitatibus quae doloribus rerum,
                    quaerat commodi, nemo perferendis ab.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>


    <div class="card card-outline-danger text-center">
        <span class="pull-right clickable close-icon" data-effect="fadeOut"><i class="fa fa-times"></i></span>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div> -->

    <!-- card sorting -->

    <!-- card sorting -->

    <section class="bg-light pt-5 pb-5 shadow-sm">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h3 class="text-uppercase border-bottom mb-4">Equal height Bootstrap 5 cards example</h3>
                </div>
            </div>
            <div class="row">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="{{url_for('static', filename='images/shishi.jpg')}}" class="card-img-top"
                            alt="Card Image" style="height:275px;object-fit:cover;
                            object-position: 50% 50%;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Shishigashira</h5>
                            <p class="card-text mb-4">Acquired Summer 2023 from Mount Vernon.</p>
                            <a href="/indexactual" class="stretched-link">Go somewhere</a>
                            <a href="#" class="btn btn-primary mt-auto align-self-start" id="delete_button">Delete</a>
                            <!-- <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a> -->
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://storage.googleapis.com/treephotos/little_tree" class="card-img-top"
                            alt="Card Image" style="height:275px;object-fit:cover;
                            object-position: 50% 50%;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Chinese Elm #1</h5>
                            <p class="card-text mb-4">Grown from seed collected at Morton Arboretum 2019.</p>
                            <a href="/indexactual" class="stretched-link">Go somewhere</a>
                            <a href="#" class="btn btn-primary mt-auto align-self-start" id="delete_button">Delete</a>
                            <!-- <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a> -->
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="{{url_for('static', filename='images/shishi.jpg')}}" class="card-img-top"
                            alt="Card Image" style="height:275px;object-fit:cover;
                            object-position: 50% 50%;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Satsuki Azalea</h5>
                            <p class="card-text mb-4">Gifted by deep-sea diver.</p>
                            <a href="/indexactual" class="stretched-link">Go somewhere</a>
                            <a href="#" class="btn btn-primary mt-auto align-self-start" id="delete_button">Delete</a>
                            <!-- <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="{{url_for('static', filename='images/shishi.jpg')}}" class="card-img-top"
                            alt="Card Image" style="height:275px;object-fit:cover;
                            object-position: 50% 50%;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Satsuki Azalea</h5>
                            <p class="card-text mb-4">Gifted by deep-sea diver.</p>
                            <a href="/indexactual" class="stretched-link">Go somewhere</a>
                            <a href="#" class="btn btn-primary mt-auto align-self-start" id="delete_button">Delete</a>
                            <!-- <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js' )}}"></script>
</body>

</html>