.supercard:hover {
    /* for entry template */
    box-shadow: 3px 3px 3px rgba(7, 226, 22, 0.66);
    transform: scale(1.02);
}

.card {
    width: 450px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#enhance {
    width: 100%;
}

/* .card {
    flex: 0 1 30%;
} */

.close-icon {
    cursor: pointer;
}

.stretched-link {
    color: white
}

.stretched-link:hover {
    color: white
}

.delete_button {
    display: none
}

.card:hover .delete_button {
    display: inline-block;
    background-color: red;
    border: none;
    position: absolute;
    top: +2rem;
    right: +1rem;

    /* adjust the top position of the button */

    /* adjust the left position of the button */
    /* transform: translate(+200%, -1000%); */
    /* center the button */
    z-index: 2;
}

.card:hover .delete_button:hover {
    display: inline-block;
    background-color: red;
    border: none;
    position: absolute;
    top: +2rem;
    right: +1rem;
    box-shadow: 3px 3px 3px white;
    transform: scale(1.02);
    /* adjust the top position of the button */

    /* adjust the left position of the button */
    /* transform: translate(+200%, -1000%); */
    /* center the button */
    z-index: 2;
}

body {
    /* background-color: #cccccc; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h4 {
    color: rgb(105, 105, 105)
}

#trial {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#new_album:hover {
    box-shadow: 3px 3px 3px red;
    transform: scale(1.1);
}

#inputfile::file-selector-button {
    display: none;
}

/* #inputfile {
    color: transparent;
} */

/* #inputfile::before {
    content: url('https://via.placeholder.com/150');
} */

/* #inputfile::after {
    content: "Browse";
} */


.hide {
    display: none;
}


#imagePreview {
    /* margin: 15px 0 0 0; */
    border: 2px solid #ddd;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

/* #enhance:hover {
    transform: scale(1.3);
    z-index: 1000;
    position: fixed;
} */

#image_popup {
    position: fixed;
    width: 90%;
    height: 90%;
    /*  so that not take place   */
    top: 60%;
    left: 50%;
    z-index: 1000;
    /*  adove all elements   */
    transform: translate(-50%, -50%);
    /*  make center   */

    display: none;
    overflow-y: auto;
    /*  to hide first time   */
}

#show_image_popup img {
    /* position: absolute; */
    width: 100%;
    max-width: 90%;
    height: auto;
}

#imagePreview2 {
    /* margin: 15px 0 0 0; */
    border: 2px solid #ddd;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

/* #enhance:hover {
    transform: scale(1.3);
    z-index: 1000;
    position: fixed;
} */

#uploadButton:hover {
    transform: scale(1.02);

    filter: drop-shadow(0.75 0.75 0.75rem rgb(0, 255, 17));

}


.trythis:hover {
    cursor: pointer;
}

.trythis:hover .hovertip {
    display: flex;
    background-color: rgb(255, 245, 192);
    color: black;
    border: 1px solid #404040;
    cursor: pointer;

}

.hovertip {
    display: none;

}

#loginbox {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 500px;
    border-color: rgb(182, 182, 182)
}